@model Core_PrestitiVideoteca.Models.Prestito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrestito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrestito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRestituzione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRestituzione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFilmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFilmNavigation.Codice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatricolaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatricolaNavigation.Matricola)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
