@model IEnumerable<Core_PrestitiVideoteca.Models.Prestito>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPrestito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRestituzione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFilmNavigation.Titolo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrestito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRestituzione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFilmNavigation.Titolo)
            </td> 
        </tr>
}
    </tbody>
</table>
