@model IEnumerable<Core_PrestitiVideoteca.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <form asp-controller="Films" asp-action="SearchFilm" method="get">
        Nome film:<input type="text" name="Query" placeholder="SearchByFilm" />
        <input type="submit" value="Search" />
    </form>
    <form asp-controller="Films" asp-action="SearchActor" method="get">
        Nome Attore:<input type="text" name="Query" placeholder="SearchByActor" />
        <input type="submit" value="Search" />
    </form>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supporto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supporto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codice">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codice">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codice">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
