@model IEnumerable<Core_PrestitiVideoteca.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Elenco Film</h1>

<p>
    <partial name="_DataPagerPartial" />
</p>

<p>
    Cerca per titolo or attore or regista (anche parziale)
</p>
<p>
    Cerca per Genere (menu a tendina)
</p>
<p>
    Ordinamento per titolo (crescente e al click successivo decrescente)
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Regista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Regista)
            </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.Attori)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Codice">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
